### Handling missing values.

- Handling missing values 
- Switching to the full dataset
- Recap
- Evaluating and tuning a Pipeline

In [3]:
import sklearn
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

### Part  5 - Missing Values

In [8]:
df = pd.read_csv('http://bit.ly/kaggletrain', nrows = 10)

In [9]:
cols = ['Parch', 'Fare', 'Embarked', 'Sex', 'Name', 'Age']

In [10]:
X = df[cols]

In [11]:
X

,Parch,Fare,Embarked,Sex,Name,Age
0,0,7.2500,S,male,"Braund, Mr. Owen Harris",22.0
1,0,71.2833,C,female,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0
2,0,7.9250,S,female,"Heikkinen, Miss. Laina",26.0
3,0,53.1000,S,female,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0
4,0,8.0500,S,male,"Allen, Mr. William Henry",35.0
5,0,8.4583,Q,male,"Moran, Mr. James",NaN
6,0,51.8625,S,male,"McCarthy, Mr. Timothy J",54.0
7,1,21.0750,S,male,"Palsson, Master. Gosta Leonard",2.0
8,2,11.1333,S,female,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0
9,0,30.0708,C,female,"Nasser, Mrs. Nicholas (Adele Achem)",14.0